body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  margin-inline-start: 0em;
  margin-block-start: 0em;
  padding-inline-start: .25em;
}
li {
  list-style:none;
  text-align:left;
}
li:hover {
  background-color: blue;
  cursor: pointer;
  text-align:left;
}
